# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/madina-book-1-arabic-text-dr-v-abdurrahim.pdf
/madina-book-1-english-key.pdf
/scheherazade-v17-latin_arabic.zip
